/* Hannah Merrill */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');

@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');
}

/* ------------------ CSS Reset ----------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----Color Variables ---- */ 
:root{
    --yellow:#F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --black: #000;
    --white: #fff;
    --light-gray: #eaeaea;
    --dark-gray: #222222;
}


/* ---------- GLOBAL STYLES ---------- */
*{
    box-sizing: border-box;
    line-height: 1.30;
}

/* --------------- USER PREFERS DARK COLOR SCHEME QUERY --------------- */


/* ----- HEADINGS ----- */
h1, h2, h3 { 
    font-family: 'Molle', cursive; 
    margin: .5em;
}
h1 {
    font-size: 2em;
}

h2, h3 {
    font-size: 1.5em;
    margin: .5em;
}

h4 {
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    margin: .5em;
    padding: 1em;
    text-align: center;
}

/* ----- IMAGES ----- */
img {
    display: block;
    max-width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.icon {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 1em;
}
#about img {
  width: 30%;
}

/* ----- TEXT ----- */
p {
    font-family: Montserrat;
    margin: 1em;
}
 q {
    font-style: italic;
    font-family: Montserrat;
 }
.bio p {
  text-align: center;
}

.bio q {
  display: block;
  text-align: center;
  margin: 1em;
}

#about p {
  text-align: center;
}
h3 span, .form-required {
  font-family: Montserrat;
  font-size: .8ch;
  font-style: italic;
}
/* ----- BODY/MAIN/HEADER/FOOTER ----- */
#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
        
    #skip a:focus {
    position:static;
    width:auto;
    height:auto;
    }

.sr-only {
    position:absolute; 
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
    body {
      margin: 1em;
    }
    .plan {
      background-color: var(--teal);
      border-radius: .5em;
      border: 2px solid var(--white);
      margin: 1em;
    }
   #plan {
      background-color: var(--yellow);
      padding: 1em;
      margin: 1em 0 1em 0;
      display: flex; 
      flex-direction: column;
    }
    #testimonials {
      display: flex; 
      flex-direction: column;
    }
    #about {
    background-color: var(--blue);
    padding: 1em;
    }

    /* Form */
    #contact {
      width: 100%;
      min-width: 15ch;
      max-width: 30ch;
      border-radius: 0.25em;
      padding: .25em;
      font-size: 1.25rem;
      cursor: pointer;
      line-height: 1.5;
      font-family: Montserrat;
    }
    #contact label {
      display: block;
      width: 100%;
    }
    #names {
      text-transform: uppercase;
      font-family: Montserrat;
    }
    #nums legend {
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: .7em;
      padding: .5em;
    }
    #selects legend, label {
      text-transform: uppercase;
      font-family: Montserrat;
      font-size: .7em;
      padding: .5em;
    }

    input {
      display: inline-block;
      border: 3px solid var(--purple);
      padding: .5em;
      width: 100%;
    }
    .required {
      color: var(--purple);
    }
    span .radio-input #radio-input {
      background-color: var(--purple);
      width: 200px;
    }

  input[type="radio"] {
    height: 2rem;
    width: 2rem;
    accent-color: var(--purple);
    }
  .radio-label {
    text-transform: none;
    }
  #destination, #travelTime {
    border: 3px solid var(--purple);
    width: 100%;
    padding: .5em;
  }
  input[type="submit"] {
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    margin-top: 1em;
  }
  input[type="submit"]:hover {
    background-color: var(--black);
  }


/* Start Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--yellow);
  color: black;
  text-transform: uppercase;
  padding: 1em;
  min-width: 150px;
  text-align: center;
  left: 60%; /* need to make this responsive */
  top: -190px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--teal);
  min-width: 200px;
  padding: 12px 16px;
  z-index: 1;
  left: 0%;
  top: 50px;
}

.dropdown-content, a {
  text-decoration: none;
  color: black;
}
  .dropdown-content  a:hover {
      color: white;
  }
  
.dropdown-content, li {
  list-style-type: none;
  padding: 1em;

 }
  
.dropdown:hover .dropdown-content {
  display: block;
}
/* End Drop Down Menu*/


/* Responsive Queries */
@media (min-width: 500px) {
h1 {
  font-size: 4em;
}
.dropdown {
  left: 80%; /* need to make this responsive */
  top: -190px;
}
 #img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}
  picture {
  grid-column: 1/ span 2;
}
#flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.plan {
  width: 40%;
}
#flex2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bio {
  width: 40%;
  margin: 1em;
}
#flex3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#flex3 section {
  width: 25%;
  justify-content: space-evenly;
  align-self: center;
}
section #contact {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

}